<section class="py-7 h-[90vh] lg:h-[70vh]  flex flex-col gap-4 justify-center items-center  ">
  <h1 class="text-2xl lg:text-4xl  font-ArchivoBlack">
    ACERCA DE ENERGIX
  </h1>
  <div class="text-gray-500 text-sm max-w-3xl lg:mx-auto mx-4 tracking-wider">
    <p class="my-6">
      EnergiX es una empresa <span class="font-semibold">FICTICIA</span>  creada con fines didácticos. Esta página
      web fue desarrollada exclusivamente para practicar y aprender sobre
      diseño, desarrollo web y conceptos relacionados con la creación de
      negocios digitales.
    </p>
    <p class="my-6">
      EnergiX no representa una empresa real, y los productos o servicios
      mostrados son completamente imaginarios, diseñados para perfeccionar
      habilidades en programación y diseño. 
    </p>
    <p>
      Aunque no representa una empresa real, el diseño y estilo de EnergiX están
      inspirados en la página web de la bebida PRIME.
      <span class=" font-semibold">¡Gracias por visitar este proyecto
        educativo!</span> 
    </p>
  </div>
    <img class="w-32 lg:w-40 drop-shadow-3xl " src="https://res.cloudinary.com/dleem7osr/image/upload/v1734559843/imagen_2024-12-18_170959691-removebg-preview_lgpfrn.png" alt="" />
     
</section>
