<section class="mx-auto flex flex-col items-center gap-4 pb-9">
    <h2 class="text-2xl lg:text-4xl  font-ArchivoBlack">GALERIA </h2>
    <div class="grid grid-cols-3 grid-rows-2 gap-4  mx-3">
        <div class=" col-span-3 lg:col-span-2  lg:row-span-2   ">
            <img src="https://th.bing.com/th/id/OIG2.Hj.0d1u0bxrIegRCFKo7?pid=ImgGn" alt="">
        </div>
        <div class="col-span-3 lg:col-span-1 ">
            <img src="https://th.bing.com/th/id/OIG3.ZOjiNfA7_xS0DhdbkyiQ?pid=ImgGn" alt="">

        </div>
        <div class=" col-span-3 lg:col-span-1 ">
            <img src="https://th.bing.com/th/id/OIG2.dJEoB1kocPpQcp0AdUAH?w=1024&h=1024&rs=1&pid=ImgDetMain" alt="">

        </div>
      </div>
</section>