---
import Layout from "../layouts/Layout.astro";
import {NavbarPrincipal} from "../sections/navbars/navbar.jsx";
import {ProductoHero} from "../sections/CategoriaProducto/ProductoFiltro.jsx";
import Footer from "../sections/footer.astro";
import {TipoProducto} from "../sections/CategoriaProducto/TipoProducto.jsx";
import { BannerTipoProducto } from "../sections/CategoriaProducto/BannerTipoProducto";

---


<Layout title="FreshFusion">
  <header  class="relative">
    <NavbarPrincipal posicion={"lg:relative"} bg={"bg-white"}  client:idle />
  </header>
  <main class="animate-blurred-fade-in ">
    <ProductoHero client:idle />
    <div class="flex flex-col justify-center items-center gap-4">
      <BannerTipoProducto client:idle />
      <TipoProducto client:idle />

    </div>
  </main>
  <footer>
    <Footer />
  </footer>
</Layout>

