---
import Layout from '../layouts/Layout.astro';
import Navbar from '../sections/navbar.astro';
import Productos from '../sections/Productos.astro';
import Hero from '../sections/hero.astro';
import Proveedores from '../sections/prove.astro';




---

<Layout title="RefrescaShop">
    <header>
      <Navbar />
      <hero>
       <Hero />
      </hero>
	</header>
	<main>
      <Proveedores />
     <Productos />
	</main>
</Layout>

	
