---
import Layout from "../layouts/Layout.astro";
import Navbar from "../sections/navbar.astro";
import Productos from "../sections/Productos.astro";
import Hero from "../sections/hero.astro";
import Proveedores from "../sections/prove.astro";
import ProveResponsive from "../sections/proveResponsive.astro";
import Slider from "../sections/sliders.astro";
import SliderInfo from "../sections/sliderInfo.astro";

import Footer from "../sections/footer.astro";


---

<Layout title="RefrescaShop">
  <header>
    <Navbar />
    <hero>
      <Hero />
    </hero>
  </header>
  <main class="lg:max-w-7xl mx-auto ">
    <Proveedores />
     <Slider />
    <Productos />
    <ProveResponsive />
  </main>
  <header class="lg:max-w-7xl mx-auto ">
    <SliderInfo />
  </header>
  <Footer />
</Layout>
