---
import Layout from "../layouts/Layout.astro";
import Hero from "../sections/hero.astro";
import Slider from "../sections/sliders.astro";
import Footer from "../sections/footer.astro";
import {NavbarPrincipal} from "../sections/navbars/navbar.jsx";
import {ProductoSlider} from "../sections/ProductosSlider/ProductoSlider";
import {ImagenSlider} from "../sections/ProductosSlider/ImagenSlider";

---

<Layout title="FRESHFUSION">
  
  <header class="relative">
    <!-- <Navbar /> -->
    <NavbarPrincipal posicion={"fixed"} bg={"bg-transparent"}  client:idle/>
    <hero>
      <Hero />
    </hero>
  <main class="lg:max-w-7xl mx-auto ">
    <Slider />
      <ProductoSlider tipo={"energizante"}  client:idle/>
      <ImagenSlider nombre={"energizantes"} client:idle/>
    <ProductoSlider tipo={"nutricional"}  client:idle/>
    <ProductoSlider tipo={"hidratante"}  client:idle/>

    <!-- <ProductosAgua /> -->
  </main>

  <Footer />
</header>



</Layout>
