---
import Layout from "../layouts/Layout.astro";
import {NavbarPrincipal} from "../sections/navbars/navbar.jsx";

import Footer from "../sections/footer.astro";

---


<Layout title="RefrescaShop">
  <header  class="relative">
    <NavbarPrincipal posicion={"relative"} bg={"bg-red-500"}  client:idle />
  </header>
  <main>
  </main>
  <footer>
    <Footer />
  </footer>
</Layout>

