---
import Layout from "../layouts/Layout.astro";
import {NavbarPrincipal} from "../sections/navbars/navbar.jsx";
import {DetalleProducto} from "../sections/DetalleProducto/DetalleProducto.jsx";
import {ProductosRecomendar} from "../sections/ProductoRandom/ProducosRecomendados.jsx";
import { ComentariosUser } from "../sections/RatingComentarios/ComentariosUser";
import Footer from "../sections/footer.astro";

---


<Layout title="ENERGIX">
  <header  class="relative">
    <NavbarPrincipal posicion={"lg:relative"} bg={"bg-white"}  client:idle />
    <main class="lg:max-w-7xl mx-auto   flex flex-col gap-9 ">
      <!-- DetalleProdcuto -->
      <DetalleProducto client:idle/>
      <!-- Productos Recomendados -->
       <ProductosRecomendar client:idle/>
      <!-- Comentarios -->
      <ComentariosUser />
    </main>
    <footer>
      <Footer />
    </footer>
  </header>
</Layout>

