---
import Layout from "../layouts/Layout.astro";
import {NavbarPrincipal} from "../sections/navbars/navbar.jsx";
import { DetalleProducto } from "../sections/DetalleProducto/DetalleProducto";

import Footer from "../sections/footer.astro";

---


<Layout title="FreshFusion">
  <header  class="relative">
    <NavbarPrincipal posicion={"relative"} bg={"bg-red-500"}  client:idle />
  </header>
  <main class="lg:max-w-7xl mx-auto ">
    <!-- DetalleProdcuto -->
     <DetalleProducto client:idle/>
  </main>
  <footer>
    <Footer />
  </footer>
</Layout>

