---
import Layout from "../layouts/Layout.astro";
import Navbar from "../sections/navbar.astro";
import Detalle from "../sections/Detalle.astro";
import Footer from "../sections/footer.astro";
import DemoDetalle from "../sections/demoDetalle.astro";

---


<Layout title="RefrescaShop">
  <header>
    <Navbar />
  </header>
  <main>
    <Detalle  />
   <!-- <DemoDetalle />     -->
  </main>
  <footer>
    <Footer />
  </footer>
</Layout>

