---
import Layout from "../layouts/Layout.astro";
import Footer from "../sections/footer.astro";
import NavbarSecond from "../sections/NavbarSecond.astro";
import ProductosSeccion from "../sections/ProductosSeccion.astro";
import Filtro from "../sections/filtro.astro";
---


<Layout title="RefrescaShop">
  <header>
    <NavbarSecond />
  </header>
  <main>
     <Filtro />
     <ProductosSeccion />
  </main>
  <footer>
    <Footer />
  </footer>
</Layout>

