---
import Layout from "../layouts/Layout.astro";
import Footer from "../sections/footer.astro";
import {NavbarPrincipal} from "../sections/navbars/navbar.jsx";

import ProductosSeccion from "../sections/ProductosSeccion.astro";
---


<Layout title="FreshFusion">
  <header  class="relative">
     <NavbarPrincipal  posicion={"relative"} bg={"bg-red-500"} client:idle /> 
  </header>
  <main class="grid  lg:grid-cols-[25%,75%]  lg:max-w-[1550px] mx-auto py-7">
     <ProductosSeccion />
  </main>
  <footer>
    <Footer /> 
  </footer>
</Layout>

