<section class="h-auto  mx-3 lg:mx-0">
    
    <div class="h-auto">
      <img class=" object-cover w-full  h-full " src="https://lasalitas.com/mt-content/uploads/2023/08/banner-web_64d25853f3d13.png" alt="">
    </div>

</section>