<section class="grid grid-cols-2 gap-4   h-auto ">
    <div class="col-start-1 col-end-3">
      <img class="bg-cover bg-no-repeat h-auto " src="https://lasalitas.com/mt-content/uploads/2023/08/banner-web_64d25853f3d13.png" alt="">
    </div>
    <div class="bg-red-600 ">
        <img class="object-cover w-full" src="https://media.istockphoto.com/id/504243667/es/vector/lata-de-refresco-pop-anuncio-vintage-cartel-con-el-lote-de-textura-de.jpg?s=612x612&w=0&k=20&c=jCxgHlotoc--s9cCctXJG99MRd3n-OeviK8JK_UKRPE=" alt="">
    </div>
    <div class="bg-red-600 ">
        <img class="object-cover w-full " src="https://media.istockphoto.com/id/504243667/es/vector/lata-de-refresco-pop-anuncio-vintage-cartel-con-el-lote-de-textura-de.jpg?s=612x612&w=0&k=20&c=jCxgHlotoc--s9cCctXJG99MRd3n-OeviK8JK_UKRPE=" alt="">
    </div>
</section>