<section class="grid grid-cols-2 gap-4 lg:h-screen h-auto">
    <div class="col-start-1 col-end-3 bg-yellow-400">
       h1
    </div>
    <div class="bg-red-600">

    </div>
    <div class="bg-red-600"></div>
</section>