<div class="w-auto  ">
    <article class= "flex flex-col lg:flex-row py-16 lg:py-32 justify-center  gap-8">
       <div class="lg:flex flex-col gap-5 hidden ">        
        <img class="w-24 hover:scale-105 transition rounded-md  border-black border-[1px] p-2" src= "https://vivanda.vtexassets.com/arquivos/ids/352468/1046239002.jpg?v=637776956430670000" alt="">
        <img class="w-24 hover:scale-105 transition rounded-md active:border-black border-[1px] p-2 " src= "https://vivanda.vtexassets.com/arquivos/ids/352468/1046239002.jpg?v=637776956430670000" alt="">
        <img class="w-24 hover:scale-105 transition rounded-md active:border-black border-[1px] p-2 " src= "https://vivanda.vtexassets.com/arquivos/ids/352468/1046239002.jpg?v=637776956430670000" alt="">
       </div>
         <div class="w-full    lg:w-[45%] ">
           <img class=" p-2" src= "https://vivanda.vtexassets.com/arquivos/ids/352468/1046239002.jpg?v=637776956430670000" alt="">
         </div>
         <div class="flex flex-col py-9 text-center  gap-8  border-2 border-black p-2">
            <div>
                <h2 class=" font-Protest   text-2xl tracking-wide uppercase lg:text-3xl">Agua Mineral cielo</h2>
                <p class="font-light tracking-wide text-lg text-gray-400">Cielo</p>
                <p class="font-light text-xl" >1.5L</p>
                <h3 class="text-2xl">S/ 46.00</h3>
            </div>
            <button class="py-2 px-6 border-black border-[1px] mx-7 lg:mx-0 font-Protest hover:bg-red-600 text-lg uppercase hover:text-white hover:border-red-900 transition hover:scale-105">Añadir al carrito</button>
             <div class="flex flex-col gap-9">
                <div class="flex flex-col gap-1 items-center lg:items-start">
                    <h2 >Descripcion:</h2> 
                    <p class="max-w-64 text-gray-700 text-xs text-wrap">"Inka Cola es una gaseosa de color amarillo dorado, con un sabor dulce y un aroma a hierbas. Es una bebida muy popular en Perú y es conocida por su sabor único"</p>
                </div>
                
                <div class="text-center flex justify-center items-center text-lg">
                    <h3 class="font-Protest border-b-2 border-red-600">Entrega Rapida y Segura</h3>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="icon icon-tabler icons-tabler-outline icon-tabler-car-suv"><path stroke="none" d="M0 0h24v24H0z"/><path d="M5 17a2 2 0 1 0 4 0 2 2 0 0 0-4 0m11 0a2 2 0 1 0 4 0 2 2 0 0 0-4 0M5 9l2-4h7a2 2 0 0 1 2 2l1 2h3a2 2 0 0 1 2 2v3M10 9V5M2 7v4"/><path d="M22 14a5 5 0 0 0-4-2 5 5 0 0 0-4 2h-3a5 5 0 0 0-8 0"/><path d="M5 12V9h13"/></svg>
                </div>
            </div>
           
         </div>
    </article>
</div>
