---
import { Producto } from "./productos.ts";

---
<aside class="w-screen md:w-1/4 bg-gray-200 p-4">
<h2>Filtro</h2>
<div>
    <label for="categoria">Categoria



        
    </label>
     
     
    
        
</div>
    
</aside>