<footer class="bg-black h-[57vh] grid grid-cols-3 text-white py-8 justify-center items-center">
    <div class="flex  flex-col items-center justify-center">
        <h2 class="text-3xl font-bold">INFORMACION</h2>
        <p>123-456-7890</p>
        <p>REFRESCASHOP@gmail.com</p>
        <div class="flex gap-1 items-center justify-center">
          <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="icon icon-tabler icons-tabler-outline icon-tabler-brand-facebook"><path stroke="none" d="M0 0h24v24H0z"/><path d="M7 10v4h3v7h4v-7h3l1-4h-4V8a1 1 0 0 1 1-1h3V3h-3a5 5 0 0 0-5 5v2H7"/></svg></a>
          <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram"><path stroke="none" d="M0 0h24v24H0z"/><path d="M4 8a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4v8a4 4 0 0 1-4 4H8a4 4 0 0 1-4-4z"/><path d="M9 12a3 3 0 1 0 6 0 3 3 0 1 0-6 0m8-4h0"/></svg></a>
          <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="icon icon-tabler icons-tabler-outline icon-tabler-brand-x"><path stroke="none" d="M0 0h24v24H0z"/><path d="m4 4 12 16h4L8 4zm0 16 7-7m2-2 7-7"/></svg></a>
        </div>
    </div>
    <div>
     <ul>
      <a href=""><li>Sobre Nosotros</li></a>
      <a href=""><li>Productos</li></a>
      <a href=""><li>Entregas</li></a>
     </ul>
    </div>
    <div>
      <ul>
        <a href=""><li>Contactos</li></a>
        <a href=""><li>Politicas de Privacidad</li></a>
        <a href=""><li>Creador</li></a>
        <a href=""><li>Terminos y Condiciones</li></a>

       </ul>
    </div>
</footer>
  