<footer class="flex  lg:h-[68vh] h-auto flex-col lg:flex-row bg-black gap-12 text-white lg:p-20 p-11">
<div class="lg:mr-16">
  <h2 class="uppercase font-black text-xl mb-3">Sobre RefrescaShop</h2>
  <p class="text-sm lg: max-w-[390px] tracking-wide ">Somos una empresa dedicada a la venta al por mayor de bebidas de diferentes categorías. Nos especializamos en ofrecer una amplia gama de productos , que incluyen gaseosas, aguasy más.</p>
<div class="mt-6">
  <ul class="flex  gap-5 text-sm">
    <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="icon icon-tabler icons-tabler-outline icon-tabler-brand-facebook"><path stroke="none" d="M0 0h24v24H0z"/><path d="M7 10v4h3v7h4v-7h3l1-4h-4V8a1 1 0 0 1 1-1h3V3h-3a5 5 0 0 0-5 5v2H7"/></svg></li>
    <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="icon icon-tabler icons-tabler-outline icon-tabler-brand-x"><path stroke="none" d="M0 0h24v24H0z"/><path d="m4 4 12 16h4L8 4zm0 16 7-7m2-2 7-7"/></svg></li>
    <li><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" /><path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M16.5 7.5l0 .01" /></svg></li>
  </ul>
</div>
</div>

<div>
  <ul class="flex flex-col gap-5 text-sm mr-8">
    <li>SOBRE NOSOTROS</li>
    <li>PRODUCTOS</li>
    <li>CATEGORIAS</li>
  </ul>
</div>
<div>
  <ul class="flex flex-col gap-5 text-sm mr-8" >
    <li>CONTACTO</li>
    <li>TERMINOS Y CONDICIONES</li>
    <li>PRIVACIDAD</li>
    <li>UBICACION</li>
  </ul>
</div>
<div>
  <ul class="flex flex-col gap-5 text-sm mr-8" >
    <li>CONTACTO</li>
    <li>TERMINOS Y CONDICIONES</li>
    <li>PRIVACIDAD</li>
    <li>UBICACION</li>
  </ul>
</div>
<div class="text-center lg:hidden flex">
  <p class="text-sm">© 2021 RefrescaShop. Todos los derechos reservados.</p>
</div>
</footer>