<section class="h-[90vh] lg:h-[100vh] bg-black  relative  animate-blurred-fade-in  flex flex-col items-center lg:items-start ">
    <!-- <img class="w-full h-full mx-auto object-cover animate-blurred-fade-in " src="" alt=""> -->
    <div class="absolute top-[77%]  xl:top-[75%]  flex flex-col justify-center  text-center lg:text-start  mx-9 pl-4 max-w-xl animate-slide-in-bottom">
        <p class=" text-gray-100 text-xl tracking-wider  uppercase">Bebidas saludables </p>
        <h1 class="text-white   text-xl  lg:text-4xl font-black   uppercase ">Disponibles para ti </h1>
        <a href="" class="text-black  mr-auto bg-white py-3 font-black font-ArchivoBlack  px-10 mt-4  hover:scale-105 transition "><button>COMPRAR AHORA</button></a>
    </div>
  </section>
  
  <style>
    section{
    background-image: linear-gradient(rgba(0, 0, 0, 0.253), rgba(0, 0, 0, 0.315)), url("https://tse2.mm.bing.net/th?id=OIG4.EQz3RGgrbuwBegsQzJt1&pid=ImgGn");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

  </style>