<section class="h-[75vh]   lg:h-[85vh] bg-no-repeat    brightness-[.6] bg-cover bg-center bg-black grid grid-cols-2  justify-center items-center " style="background-image: url('https://www.consumidorglobal.com/uploads/s1/22/12/7/vino-en-lata.jpeg');">


</section>




</style>
<script>

</script>