<section class="h-[75vh]   lg:h-[100vh]  bg-black grid grid-cols-2  justify-center items-center bg-no-repeat bg-contain bg-right "style="background-image: url('https://www.shutterstock.com/image-photo/glasses-soda-flavors-orange-lemon-260nw-2123278691.jpg');" >
<div class="mx-11">
    <h1 class="text-white text-4xl font-bold">¡Descubre una variedad de bebidas para todos los gustos con <span class="text-red-500">Nosotros</span>!</h1>
</div>
<div>
    <img src="" alt="">
</div>

</section>




</style>
<script>

</script>