<section class="h-[75vh] lg:h-[90vh] bg-black   ">
    <img class="w-full h-full object-cover animate-blurred-fade-in" src="https://www.shutterstock.com/image-photo/glasses-soda-flavors-orange-lemon-260nw-2123278691.jpg" alt="">
    <div class="absolute inset-0 flex flex-col justify-center lg:pt-28 xl:pt-56 mx-9 pl-4 max-w-lg animate-slide-in-bottom">
        <h1 class="text-white   text-xl  lg:text-4xl font-bold uppercase text-center">Todas las bebidas disponibles</h1>
        <a href="" class="text-black mx-auto bg-white py-3 font-bold rounded px-10 mt-4  hover:scale-105 transition "><button>Comprar ahora</button></a>
    </div>
  </section>
  