<section class="h-[75vh] lg:h-[100vh] bg-black   ">
    <img class="w-full h-full object-cover animate-blurred-fade-in" src="https://files.oaiusercontent.com/file-Ko2JZtaERBFkzmdLzbXshB?se=2024-12-02T19%3A12%3A55Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3D827844ff-97db-4db4-b54c-d867412ca332.webp&sig=IjqZPtHDMMG%2Bo58G7Yhxu4BnbYi6mlSFUswv/Kybig0%3D" alt="">
    <div class="absolute inset-0 flex flex-col justify-center lg:pt-28 xl:pt-56 mx-9 pl-4 max-w-lg animate-slide-in-bottom">
        <h1 class="text-white   text-xl  lg:text-4xl font-bold uppercase text-center">Todas las bebidas disponibles</h1>
        <a href="" class="text-black mx-auto bg-white py-3 font-bold rounded px-10 mt-4  hover:scale-105 transition "><button>Comprar ahora</button></a>
    </div>
  </section>
  