<section class="h-[87vh] bg-black grid grid-cols-2  justify-center items-center">
<div class="text-white" >
  <h2>Disfruta de las mejores bebidas y de los mejores precios en Refresa <span>REFRESCASHOP</span> </h2>
   <button><a href="">Compra Ahora</a></button>
</div>
<div>
<img src="https://w7.pngwing.com/pngs/645/996/png-transparent-fizzy-drinks-world-of-coca-cola-sprite-fanta-coca-cola-cola-wars-fanta-fizzy-drinks-thumbnail.png" alt="">

</div>

</section>

<script>

</script>