<section class="h-[90vh] lg:h-[100vh] bg-black  relative  ">
    <img class="w-full h-full object-cover animate-blurred-fade-in" src="https://files.oaiusercontent.com/file-Ko2JZtaERBFkzmdLzbXshB?se=2024-12-02T19%3A12%3A55Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3D827844ff-97db-4db4-b54c-d867412ca332.webp&sig=IjqZPtHDMMG%2Bo58G7Yhxu4BnbYi6mlSFUswv/Kybig0%3D" alt="">
    <div class="absolute top-[77%]   xl:top-[75%]  flex flex-col justify-center   mx-9 pl-4 max-w-xs animate-slide-in-bottom">
        <p>Bebidas saludables </p>
        <h1 class="text-white   text-xl  lg:text-4xl font-bold uppercase r">Disponibles para ti </h1>
        <a href="" class="text-black  bg-white py-3 font-bold rounded px-10 mt-4  hover:scale-105 transition "><button>Comprar ahora</button></a>
    </div>
  </section>
  