<section class="h-[75vh]   lg:h-[85vh] bg-no-repeat    brightness-[.6] bg-contain bg-center bg-black grid grid-cols-2  justify-center items-center " style="background-image: url('');">


</section>




</style>
<script>

</script>