<section class="h-screen bg-black grid grid-cols-2  justify-center items-center">
<div class="text-white mx-20" >
  <h2 class="text-4xl">Disfruta de las mejores bebidas y de los mejores precios en  <span class="font-Protest">REFRESCASHOP</span> </h2>
   <button class=" border-[1px] border-white transition-colors hover:bg-red-600 hover:border-red-700 px-4 py-2 my-3 uppercase  font-Protest rounded-sm"><a href="">Compra Ahora</a></button>
</div>
<div>
</div>

</section>




</style>
<script>

</script>