<section class="h-[90vh] lg:h-[100vh] bg-black  relative  ">
    <img class="w-full h-full object-cover animate-blurred-fade-in" src="https://png.pngtree.com/thumb_back/fw800/background/20240528/pngtree-different-healthy-fruit-drinks-on-the-black-background-image_15823154.jpg" alt="">
    <div class="absolute top-[77%]   xl:top-[75%]  flex flex-col justify-center   mx-9 pl-4 max-w-xl animate-slide-in-bottom">
        <p class=" text-gray-100 text-xl tracking-wider  uppercase">Bebidas saludables </p>
        <h1 class="text-white   text-xl  lg:text-4xl font-black font-Nunito  uppercase ">Disponibles para ti </h1>
        <a href="" class="text-black  mr-auto bg-white py-3 font-black font-Nunito  px-10 mt-4  hover:scale-105 transition "><button>COMPRAR AHORA</button></a>
    </div>
  </section>
  