<nav class="text-white w-full flex  justify-evenly   items-center font-Amatic fixed z-30  backdrop-blur-sm  ">
    <ul class="lg:flex tracking-wide font-light   hidden">
        <a class="p-6 hover:scale-105 transition text-[13px]  border-b-2 border-white " href=""><li>HOME</li></a>
        <a class="p-6 hover:scale-110 transition   text-[13px]  hover:border-b-2 border-white"  href=""><li class="mx-5">PRODUCTOS </li></a>
        <a class="p-6 hover:scale-110 transition  text-[13px]  hover:border-b-2 border-white  " href=""><li >CATEGORIA </li></a>

    </ul>
    <div class="flex lg:hidden">
      hamburguesa
    </div>
 <h2 class="text-[36px] font-Protest text-transparent customShadow  font-black cursor-default uppercase hover:scale-105 transition ">RefrescaShop</h2>
      <ul class="lg:flex tracking-wide px-5  font-light hidden">
        <a class="p-6 hover:scale-110 transition  text-[13px] hover:border-b-2 border-white "  href=""><li>ABOUT</li></a>
        <a  class="p-6 mx-5  hover:scale-110 transition  text-[13px]  hover:border-b-2 border-white "  href=""><li class="">CARRITO COMPRA</li></a>
        <a class=" p-6 hover:scale-110 transition  text-[13px]  hover:border-b-2 border-white " href=""><li>USUARIO</li></a>

      </ul>
      <div class="flex lg:hidden">
        carrito
        user
      </div>

</nav>

<style>
  .customShadow {
    -webkit-text-stroke: 1px rgb(255, 255, 255); /* Para navegadores basados en WebKit (Safari, Chrome) */
    text-stroke: 1px rgb(255, 255, 255); /* Estándar */
}
</style>