
<nav id="Navbar" class=" bg-white border-b-gray-300 border-[1px]  w-full flex  justify-evenly py-3 lg:h-[115px] items-center  text-black sticky z-30  ">
    <ul class="lg:flex tracking-wide font-light   hidden">
        <a class="p-6 hover:scale-105 transition text-[13px]  border-b-2 border-white " href="/"><li>HOME</li></a>
        <a class="p-6 hover:scale-110 transition   text-[13px]  hover:border-b-2 border-white"  href="/productosCompletos"><li class="mx-5">PRODUCTOS </li></a>
        <a class="p-6 hover:scale-110 transition  text-[13px]  hover:border-b-2 border-white  " href=""><li >CATEGORIA </li></a>

    </ul>
    <button class="flex lg:hidden split">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="26" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="icon icon-tabler icons-tabler-outline icon-tabler-menu-2"><path stroke="none" d="M0 0h24v24H0z"/><path d="M4 6h16M4 12h16M4 18h16"/></svg>
    </button>
 <h2 id="navbarH2" class="text-[30px] lg:text-[36px] font-Protest  font-black cursor-default uppercase hover:scale-105 transition ">RefrescaShop</h2>
      
     <ul class="lg:flex tracking-wide px-5  font-light hidden">
        <a class="p-6 hover:scale-110 transition  text-[13px] hover:border-b-2 border-white "  href=""><li>ABOUT</li></a>
        <a class=" p-6 hover:scale-110 transition  text-[13px]  hover:border-b-2 border-white " href=""><li>USUARIO</li></a>
        <a  class="p-6   hover:scale-110 transition  text-[13px]  hover:border-b-2 border-white "  href=""><li class="">CARRITO COMPRA</li></a>

      </ul>
      <div class="flex gap-3 lg:hidden">
        <button>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="icon icon-tabler icons-tabler-outline icon-tabler-shopping-bag"><path stroke="none" d="M0 0h24v24H0z"/><path d="M6.331 8H17.67a2 2 0 0 1 1.977 2.304l-1.255 8.152A3 3 0 0 1 15.426 21H8.574a3 3 0 0 1-2.965-2.544l-1.255-8.152A2 2 0 0 1 6.331 8z"/><path d="M9 11V6a3 3 0 0 1 6 0v5"/></svg>
        </button>
        <button>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="icon icon-tabler icons-tabler-outline icon-tabler-search"><path stroke="none" d="M0 0h24v24H0z"/><path d="M3 10a7 7 0 1 0 14 0 7 7 0 1 0-14 0M21 21l-6-6"/></svg>
        </button>
      </div>

</nav>

<nav class="Menu  slide-in fixed top-0 left-[-100%] bg-[#ffffff] h-full hidden flex-col  w-[80%] z-50 ">
    <div class="py-5 px-6">
      <span class="  text-2xl font-bold text-black">X</span>
    <div class=" flex flex-col  w-auto my-10  ">
        <a class="border-[#cfcece] border-b-[1px] font-medium text-[15px] py-4" href="/">HOME</a>
        <a class="border-[#cfcece] border-b-[1px]  font-medium text-[15px] py-4" href="#">PRODUCTOS</a>
        <a class="border-[#cfcece] border-b-[1px] font-medium text-[15px] py-4" href="#">CATEGORIAS </a>
        <a class="border-[#cfcece] border-b-[1px] font-medium  text-[15px] py-4" href="#">ABOUT </a>
        <a class="border-[#cfcece] border-b-[1px] font-medium  text-[15px] py-4" href="#">INICIA SESSION </a>
    </div>
    <div class="flex flex-col justify-center items-center my-9">
      <h1 class="  font-Protest text-4xl -skew-y-6">RefrescaShop</h1>
      <div class="flex flex-row my-7 ">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram"><path stroke="none" d="M0 0h24v24H0z"/><path d="M4 8a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4v8a4 4 0 0 1-4 4H8a4 4 0 0 1-4-4z"/><path d="M9 12a3 3 0 1 0 6 0 3 3 0 1 0-6 0M16.5 7.5v.01"/></svg>
        <svg  xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="icon icon-tabler icons-tabler-outline icon-tabler-brand-facebook"><path stroke="none" d="M0 0h24v24H0z"/><path d="M7 10v4h3v7h4v-7h3l1-4h-4V8a1 1 0 0 1 1-1h3V3h-3a5 5 0 0 0-5 5v2H7"/></svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="icon icon-tabler icons-tabler-outline icon-tabler-brand-x"><path stroke="none" d="M0 0h24v24H0z"/><path d="m4 4 11.733 16H20L8.267 4zM4 20l6.768-6.768m2.46-2.46L20 4"/></svg>
      </div>
    </div>
    </div>
  </nav>

  <style>
  .customShadow {
    -webkit-text-stroke: 1px rgb(255, 255, 255); /* Para navegadores basados en WebKit (Safari, Chrome) */
    text-stroke: 1px rgb(255, 255, 255); /* Estándar */
}

  .slide-in {
    animation: slideIn .6s forwards;
  }
@keyframes slideIn {
  
  100% {
    left: 0;
  }
}

.scrolled-navbar{
background-color: white;
color: black;
border-bottom: 1px solid #e9e9eb;
transition: .3s all ease-in-out;
}
.scrolled-h2{
  color: black;
}



</style>


<!-- Script Responsive -->
<script>
  const navbar = document.getElementById('Navbar');
const navbarh2 = document.getElementById('navbarH2');

// Función para cambiar el color de fondo de la barra de navegación al hacer scroll

window.addEventListener('scroll', () => {
  if (navbar && navbarh2 ) {
    if (window.scrollY > 10) { 
    navbar.classList.add('scrolled-navbar');
    navbarh2.classList.add('scrolled-h2');

  } else {
    navbar.classList.remove('scrolled-navbar');
    navbarh2.classList.remove('scrolled-h2');

  }
    
  }
 
});

  const botones = document.querySelectorAll(".split");
botones.forEach(boton => {
  boton.addEventListener('click', () => {
    (document.querySelector(".Menu") as HTMLElement).style.display = "flex";

  });
});

const Exit = document.querySelector(".Menu span");
if (Exit) {
  Exit.addEventListener('click', () => {
    (document.querySelector(".Menu") as HTMLElement).style.display = "none";
  });
}

 

</script>
