---
import { LogoProductos } from "./proveedores.ts";

---

<section class=" lg:hidden flex flex-col justify-center items-center my-4">
    <h3 class="font-Protest text-2xl text-gray-400  ">PROVEEDORES</h3>
    <article class=" grid grid-cols-3 justify-center items-center mx-4 gap-4">
        {
            LogoProductos.slice(0, 6).map(({ id, logo, url }) => (
              <div class="w-full h-[90px] flex justify-center items-center shadow-md">
                <a
                  target="_blank"
                  class="w-[80%] mx-auto  "
                  rel="noopener noreferrer"
                  href={url}
                >
                  {" "}
                  <img class="object-cover " src={logo} alt={id} />
                </a>
              </div>
            ))
          }
    </article>
  
</section>