
<section class="grid  grid-cols-2 gap-4   lg:grid-cols-4 h-64 font-Protest">
    <article class="bg-no-repeat bg-cover backdrop-brightness-50 rounded-md flex justify-center items-center " style="background-image: url('https://e.rpp-noticias.io/large/2016/10/14/545754_266425.png');">
     <a href=""><h3 class=" text-[27px] customShadow text-white">GASEOSAS</h3></a> 
    </article>
    <article class="bg-no-repeat bg-cover   rounded-md flex justify-center items-center" style="background-image: url('https://cloudfront-eu-central-1.images.arcpublishing.com/prisaradio/ZGIOCMP7FZOZRO7LKNC7CMWP7Y.jpg');">
   <a href=""><h3 class=" text-[27px] customShadow  text-white">AGUA MINERAL</h3></a> 
    </article>
    <article class="bg-no-repeat bg-cover" style="background-image: url('https://thefoodtech.com/wp-content/uploads/2022/10/cerveza-scaled.jpg');">
 <h3>CERVESAS</h3>
    </article>
    <article class="bg-no-repeat bg-cover" style="background-image: url('https://mbsperu.com/wp-content/uploads/2022/06/jugosperui.jpg');">
<h3>JUEGOS</h3>
    </article>
</section>

<style>
      .customShadow {
    -webkit-text-stroke: 1px rgb(0, 0, 0); /* Para navegadores basados en WebKit (Safari, Chrome) */
    text-stroke: 1px rgb(0, 0, 0); /* Estándar */
}
</style>
